:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 500px;
}

.scroll-top {
    position: absolute;
    bottom: 25px;
    right: 50px;
    cursor: pointer;
}

.sticky-table-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    scrollbar-width: thin;
}

.sticky-table-container thead {
    position: sticky;
    inset-block-start: 0;
    background-color: var(--primary-color);
}

.hidden {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.d-block {
    display: block;
}

.w-full {
    width: 100%;
}

.border-box {
    box-sizing: border-box;
}

.text-nowrap {
    text-wrap: nowrap;
}