.overflow-auto {
    overflow: auto;
}

.hidden {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.d-block {
    display: block;
}

.w-full {
    width: 100%;
}